/Dame/build/
/Dame/dist/
/GUI1/nbproject/private/
/GUI1/build/
/GUI1/dist/
/JavaFXApplication1/nbproject/private/
/JavaFXApplication1/dist/
/JavaFXApplication1/build/
/GUI2/nbproject/private/
/GUI2/build/
/Bauernhof/nbproject/private/
/vererbungsapi/nbproject/private/
/vererbungsapi/build/
/Multithreading/nbproject/private/
/Multithreading/build/